<!DOCTYPE html>
<html>
<head>
    <title>Admin Panel</title>
    <link rel="stylesheet" href="/admin.css">
</head>
<body>
    <div class="container">
        <h1>Admin Panel</h1>
        <div style="text-align: center;"> <!-- Центрирование кнопки выхода -->
          <a href="/auth/logout">Logout</a>
        </div>
        <p style="text-align: center;">Welcome to the admin panel!</p>

        <div class="admin-panel">
            <div class="admin-panel-section">
                <h2>Categories</h2>
                <a href="/categories/create">Create New Category</a>
                <a href="/categories">Manage Categories</a>
            </div>

            <div class="admin-panel-section">
                <h2>Products</h2>
                <a href="/products/create">Create New Product</a>
                <a href="/products">Manage Products</a>
            </div>

            <div class="admin-panel-section">
                <h2>Banner</h2>
                <a href="/admin/settings">Manage Banner</a>
            </div>
        </div>
    </div>
</body>
</html>