<!DOCTYPE html>
<html>
<head>
    <title>Admin Panel</title>
    <link rel="stylesheet" href="/admin.css">
</head>
<body>
    <div class="container">
        <h1>Admin Panel</h1>
        <a href="/auth/logout">Logout</a> <!-- Added Logout Button -->
        <p>Welcome to the admin panel!</p>

        <h2>Categories</h2>
        <a href="/categories/create">Create New Category</a> <br>
        <a href="/categories">Manage Categories</a> <br><br>

        <h2>Products</h2>
        <a href="/products/create">Create New Product</a> <br>
        <a href="/products">Manage Products</a> <br>

        <a href="/admin/settings">Manage Banner</a>

        <!-- Add links to manage orders, etc. here -->
    </div>
</body>
</html>